@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Montserrat , sans-serif ;
    background-color: #DDD;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3 , 100px);
    grid-template-rows: 80px repeat(3 , 100px);
    background-color: #EEE;
    box-shadow: rgba(113, 113, 113, 0.783) 0px 5px 15px;
    color: #FFF;
    user-select: none;
}

.game-header {
    background-color: rgb(9, 169, 116);
    margin: 4px;
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns {
    background-color: rgb(9, 169, 116);
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns:hover {
    background-color: rgb(4, 110, 75);
    cursor: pointer;
}

.role-x {
    box-shadow: rgb(255, 0, 0) 0px 2px 4px, rgb(255, 0, 0) 0px 7px 13px -3px, rgb(255, 0, 0) 0px -3px 0px inset;
}

.role-o {
    box-shadow: rgb(40, 0, 143) 0px 2px 4px,rgb(0, 6, 123) 0px 7px 13px -3px,rgb(1, 6, 114)0px -3px 0px inset;

}

.dark {
    background-color: #000;
}